[submodule ".minetest"]
	path = .minetest
	url = ssh://git@github.com/dragonmaus/minetest.git
[submodule "src/ext/git/chatbot"]
	path = src/ext/git/chatbot
	url = ssh://git@github.com/derpibooru/chatbot.git
[submodule "src/ext/git/derpibooru"]
	path = src/ext/git/derpibooru
	url = ssh://git@gitlab.com/derpibooru/derpibooru.git
[submodule "src/ext/git/glowing-bear"]
	path = src/ext/git/glowing-bear
	url = ssh://git@github.com/glowing-bear/glowing-bear.git
[submodule "src/ext/git/home-remote"]
	path = src/ext/git/home-remote
	url = ssh://git@gitlab.com/dragonmaus/home-remote.git
[submodule "src/ext/git/libdjb"]
	path = src/ext/git/libdjb
	url = ssh://git@github.com/dragonmaus/libdjb.git
[submodule "src/ext/git/password-store"]
	path = src/ext/git/password-store
	url = https://git.zx2c4.com/password-store
[submodule "src/ext/git/ponyapi"]
	path = src/ext/git/ponyapi
	url = ssh://git@github.com/Xe/PonyAPI.git
[submodule "src/ext/suckless/abduco"]
	path = src/ext/suckless/abduco
	url = ssh://git@github.com/martanne/abduco.git
[submodule "src/ext/suckless/dmenu"]
	path = src/ext/suckless/dmenu
	url = https://git.suckless.org/dmenu
[submodule "src/ext/suckless/dvtm"]
	path = src/ext/suckless/dvtm
	url = ssh://git@github.com/martanne/dvtm.git
[submodule "src/ext/suckless/st"]
	path = src/ext/suckless/st
	url = https://git.suckless.org/st
