*-
*.a
*.log
*.log.gz
*.old
/.*history
/.[A-Z]*
/.android/
/.bibletime/
/.cache/
/.calendars/
/.cargo/
/.clipboard
/.contacts/
/.dbus/
/.dwarffortress/
/.epsxe/
/.esd_auth
/.eve/
/.factorio/
/.gem/
/.gnome/
/.gog/
/.java/
/.macromedia/
/.mozilla/
/.multirust
/.node-gyp/
/.password-store/
/.pki/
/.rustup/
/.serverauth.*
/.stack/
/.steam*
/.sword/
/.terminfo
/.vendetta/
/.viminfo
/.wine/
/[A-Z]*
/bin/
/crypt*
/eschalon_b1_saved_games/
/git/
/inc/
/keybase/
/obj/
/sbin/
/tmp/
/xbin/
node_modules/
