/*/QtWebEngine/
/10tons/
/[A-Z]*
/applications/
/aspyr-media/
/desktop-directories/
/endless-sky/
/feral-interactive/
/icons/
/keybase/
/khal/
/man/
/mime/
/profanity/
/recently-used.xbel
/terminfo/
/vulkan/
