mse version: 2.0.0
locale: en
recent set: /home/dragon/Documents/Axebane.mse-set
default set dir: 
default image dir: /home/dragon/Downloads
default symbol dir: 
default export dir: 
set window maximized: false
set window width: 1600
set window height: 862
card notes height: 40
open sets in new window: true
symbol grid size: 30
symbol grid: true
symbol grid snap: false
default game: magic
print layout: no space
apprentice location: 
updates url: http://magicseteditor.sourceforge.net/updates
package versions url: http://magicseteditor.sourceforge.net/packages
installer list url: http://magicseteditor.sourceforge.net/installers
check updates: never
check updates all: true
install type: default
website url: http://magicseteditor.sourceforge.net/
game settings:
	magic:
		default stylesheet: magic-m15
		default export: 
		cardlist columns:
			border color:
				width: 100
				position: 100
				visible: false
			card code text:
				width: 100
				position: 100
				visible: false
			card color:
				width: 100
				position: 100
				visible: false
			card color 2:
				width: 100
				position: 100
				visible: false
			card number:
				width: 50
				position: 10
				visible: true
			card number m15:
				width: 100
				position: 100
				visible: false
			card symbol:
				width: 100
				position: 100
				visible: false
			card symbol 2:
				width: 100
				position: 100
				visible: false
			casting cost:
				width: 50
				position: 2
				visible: true
			casting cost 2:
				width: 50
				position: 100
				visible: false
			casting cost 3:
				width: 100
				position: 100
				visible: false
			copyright:
				width: 100
				position: 100
				visible: false
			copyright 2:
				width: 100
				position: 100
				visible: false
			copyright line:
				width: 100
				position: 100
				visible: false
			copyright line 2:
				width: 100
				position: 100
				visible: false
			custom card number:
				width: 100
				position: 100
				visible: false
			flavor text:
				width: 100
				position: 100
				visible: false
			flavor text 2:
				width: 100
				position: 100
				visible: false
			full name:
				width: 150
				position: 1
				visible: true
			illustrator:
				width: 100
				position: 100
				visible: false
			illustrator 2:
				width: 100
				position: 100
				visible: false
			image:
				width: 100
				position: 100
				visible: false
			image 2:
				width: 100
				position: 100
				visible: false
			indicator:
				width: 100
				position: 100
				visible: false
			indicator 2:
				width: 100
				position: 100
				visible: false
			level 1:
				width: 100
				position: 100
				visible: false
			level 2:
				width: 100
				position: 100
				visible: false
			loyalty:
				width: 100
				position: 100
				visible: false
			loyalty 2:
				width: 100
				position: 100
				visible: false
			loyalty cost 1:
				width: 100
				position: 100
				visible: false
			loyalty cost 2:
				width: 100
				position: 100
				visible: false
			loyalty cost 3:
				width: 100
				position: 100
				visible: false
			loyalty cost 4:
				width: 100
				position: 100
				visible: false
			loyalty cost 5:
				width: 100
				position: 100
				visible: false
			loyalty cost 6:
				width: 100
				position: 100
				visible: false
			loyalty cost 7:
				width: 100
				position: 100
				visible: false
			loyalty cost 8:
				width: 100
				position: 100
				visible: false
			name:
				width: 100
				position: 100
				visible: false
			name 2:
				width: 100
				position: 100
				visible: false
			power:
				width: 100
				position: 100
				visible: false
			power 2:
				width: 100
				position: 100
				visible: false
			power 3:
				width: 100
				position: 100
				visible: false
			pt:
				width: 50
				position: 5
				visible: true
			pt 2:
				width: 50
				position: 100
				visible: false
			pt 3:
				width: 50
				position: 100
				visible: false
			rarity:
				width: 100
				position: 6
				visible: true
			rarity 2:
				width: 100
				position: 100
				visible: false
			rule text:
				width: 100
				position: 100
				visible: false
			rule text 2:
				width: 100
				position: 100
				visible: false
			rule text 3:
				width: 100
				position: 100
				visible: false
			rule text 4:
				width: 100
				position: 100
				visible: false
			rule text 5:
				width: 100
				position: 100
				visible: false
			rule text 6:
				width: 100
				position: 100
				visible: false
			set code:
				width: 100
				position: 100
				visible: false
			set code 2:
				width: 100
				position: 100
				visible: false
			shape:
				width: 100
				position: 100
				visible: false
			sub type:
				width: 100
				position: 100
				visible: false
			sub type 2:
				width: 100
				position: 100
				visible: false
			super type:
				width: 100
				position: 100
				visible: false
			super type 2:
				width: 100
				position: 100
				visible: false
			text:
				width: 100
				position: 100
				visible: false
			text 2:
				width: 100
				position: 100
				visible: false
			toughness:
				width: 100
				position: 100
				visible: false
			toughness 2:
				width: 100
				position: 100
				visible: false
			toughness 3:
				width: 100
				position: 100
				visible: false
			transformation:
				width: 100
				position: 100
				visible: false
			transformation 2:
				width: 100
				position: 100
				visible: false
			type:
				width: 100
				position: 4
				visible: true
			type 2:
				width: 100
				position: 100
				visible: false
			type symbol:
				width: 100
				position: 100
				visible: false
			type symbol 2:
				width: 100
				position: 100
				visible: false
			watermark:
				width: 100
				position: 100
				visible: false
			watermark 2:
				width: 100
				position: 100
				visible: false
		sort cards by: 
		sort cards ascending: true
		images export filename: {card.name}.jpg
		images export conflicts: number overwrite
		use auto replace: true
		auto replace:
			enabled: true
			whole word: true
			match: (C)
			replace: ©
		auto replace:
			enabled: true
			whole word: false
			match: AE
			replace: Æ
		auto replace:
			enabled: true
			whole word: false
			match: TM
			replace: ™
		auto replace:
			enabled: true
			whole word: true
			match: --
			replace: —
		auto replace:
			enabled: true
			whole word: true
			match:
				 - 
			replace:
				 — 
		auto replace:
			enabled: true
			whole word: true
			match: CIP
			replace: enters the battlefield
		auto replace:
			enabled: true
			whole word: true
			match: AAA
			replace: as an additional cost to cast
		auto replace:
			enabled: true
			whole word: true
			match: @
			replace: LEGENDNAME
		auto replace:
			enabled: true
			whole word: true
			match: ~
			replace: CARDNAME
		auto replace:
			enabled: true
			whole word: true
			match: '
			replace: ’
		auto replace:
			enabled: true
			whole word: true
			match: ::
			replace: • 
		auto replace:
			enabled: true
			whole word: true
			match: ->
			replace: • 
		pack amounts:
			additional common: 0
			additional land: 0
			additional rare: 0
			additional token / rulestip: 0
			additional uncommon: 0
			booster pack: 0
			tournament pack: 0
		pack seed random: true
		pack seed: 59643
default stylesheet settings:
	card zoom: 1
	card anti alias: true
	card borders: true
	card draw editing: true
	card normal export: true
	card spellcheck enabled: true
