/0ad/
/Keybase/
/QSyncthingTray/
/QtProject.conf
/StealthBastard\[Steam\]/
/autostart/
/cef_user_data/
/chromium/
/dconf/
/discord/
/gtk-2.0/
/keybase/
/libreoffice/
/menus/
/mono.addins/
/pulse/
/syncthing/
/unity3d/
